@charset "utf-8";

// 基本設定
@import "base/variables";
@import "base/grid";
@import "base/mixins";
@import "base/base";


// 共用架構
@import "layout/layout";
@import "layout/nav";
@import "layout/lang";


// 頁面
@import "pages/first";
@import "pages/page";