// Media Queries 變數定義
$custom: 1366px;
$desktop: 1252px;
$laptop: 960px;
$tablet: 768px;
$mobile: 480px;


// 單點 max-width MQ mixin
@mixin MQ($canvas) {
  @if $canvas == custom {
    @media only screen and (max-width: $custom) { @content; }
  }
  @else if $canvas == desktop {
    @media only screen and (max-width: $desktop) { @content; }
  }
  @else if $canvas == laptop {
    @media only screen and (max-width: $laptop) { @content; }
  }
  @else if $canvas == tablet {
    @media only screen and (max-width: $tablet) { @content; }
  }
  @else if $canvas == mobile {
    @media only screen and (max-width: $mobile) { @content; }
  }
}

// 模板
@include MQ(custom) {}
@include MQ(desktop) {}
@include MQ(laptop) {}
@include MQ(tablet) {}
@include MQ(mobile) {}

.desktop {
  display: block;
  @include MQ(tablet) {
    display: none;
  }
}

.laptop {
  display: none;
  @include MQ(laptop) {
    display: block;
  }
  @include MQ(tablet) {
    display: none;
  }
}

.tablet {
  display: none;
  @include MQ(tablet) {
    display: block;
  }
  @include MQ(mobile) {
    display: none;
  }
}

.mobile {
  display: none;
  @include MQ(mobile) {
    display: block;
  }
}


// Tablet 和 Mobile 保持原本順序
@include MQ(tablet) {
  .logo, .search-box, .lang-wrap, .settings-wrap {
    order: initial; // 讓預設順序繼續運作
  }
  .nav {
    order: 99; // 讓nav移到底下
    margin-top: 12px;
    flex: 1 1 100%;
  }
}

