// 清除浮動
@mixin clearfix() {
    &:after,
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


// 讓 iOS裝置滑滾更順暢
@mixin overflow-scroll {
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

// 溢出文字變"..."
@mixin text-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

// 轉場效果
@mixin trans($key) {
    transition: $key 0.3s ease-in-out;
}

// font-awesome
@mixin fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
