// 基本文字設定
//## Font, line-height, and color for body text, and more.
$font-family-base: "微軟正黑體", arial,
  "Microsoft YaHei",
  "微软雅黑",
  "SimSun",
  "宋体" !default;
$font-size-base: 16px !default;
$line-height-base: 1.8 !default;

// 基本顏色設定
:root {
  /* 背景與文字 */
  --body-bg: #edf0f5;
  --box-shadow: 0px 1px 8px rgba(17, 26, 94, 0.3);
  --text-shadow: 0 2px 1px rgba(50, 63, 162, 0.8);
  --header-bg: #4360ec;
  --text-color: #000000;
  --cpyright-text-color: #313131;

  /*nav*/
  --nav-hover-color: #4151ca;

  /*語系和設定按鈕*/
  --lang-btn-img: url('../image/lang_btn_light.png');
  --settings-btn-img: url('../image/settings_btn_light.png');

  /*語系和下拉*/
  --lang-settings-ups-bg: #4151ca;
  --lang-settings-text-color: #fff;
  --lang-settings-item-hover: rgba(255, 255, 255, 0.15);

  /* 搜尋框 */
  --search-bg: #ffffff;
  --search-border: #334fd3;
  --search-radius: 14px;
  --search-icon-size: 20px;
  --search-text-color: #333333;
  --search-font-size: 16px;
  --search-icon-img: url('../image/search_icon_light.png');

  /* 收合表單 */
  --form-header-bg: #4360ec;
  --form-header-text: #ffffff;
  --form-body-bg: #ffffff;
  --form-border-color: #dbdbdb;
  --form-item-text: #333333;
  --form-item-text-hover: #4151ca;
  --icon-arrow-color: #ffffff;


  /* 足球賽事 */
  --football-color-title: #000000;
  --football-color-white: #ffffff;
  --football-color-blue-dark: #2d42a3;
  --football-color-blue-main: #4360ec;
  --football-color-blue-light: #5171f4;
  --football-color-yellow-main: #ffdd00;
  --football-color-yellow-light: #fdf5c3;
  --football-color-line-gold: #cfc37d;
  --football-color-line-white: #ffffff;
  --football-color-league-bg: #6780f4;
  --football-color-dropdown-hover: #000000;
  --football-color-odds-bg: #f8f8f8;
  --football-color-odds-border: #ddd;
  --football-color-odds-box: #dbdbdb;
  --football-color-odds-title: #ffffff;

  --football-border-blue: 1px solid #4360ec;
  --football-border-black: 1px solid #000000;
  --football-border-odds: 1px solid #5171f4;
  --football-border-tab: 1px solid #cfc37d;
  --football-border-odds-content: 1px solid #ddd;
  --football-border-odds-toggle-off: 1px solid #1f1f1f;
  --football-border-odds-toggle-on: 1px solid #5171f4;

  --football-date-icon: url('../image/date_icon_light.png');
  --football-date-text-color: #000000;

  --football-leaguefootball-league: 1px solid #ccc;
  --football-color-black: #000000;
  --football-color-white: #ffffff;
  --football-color-blue-main: #4360ec;
  --football-color-yellow-main: #ffdd00;
  --football-color-odds-box: #dbdbdb;
  --football-star-img: url("../image/star_icon_light.png");

  /* 热门现场比赛 */
  --live-box-bg: #4360ec;
  --live-box-title-color: #ffffff;
  --live-box-subtitle-color: #cbd0f8;
  --live-box-score-bg: #ffffff;
  --live-box-score-text: #000000;
  --live-box-button-red: #c91a2a;
  --live-box-button-blue: #4151ca;
  --live-box-button-border: none;
  --live-box-button-grey: #dbdbdb;
  --live-star-bg: #dbdbdb;
  --live-star-border: none;
  --live-star-img: url("../image/star_icon_light.png");
  --live-odds-color: #ffffff;
  --live-video-img: url('../image/video_icon_light.png');
  --live-video-border: none;

  /*賽程*/
  --schedule-color-blue: #4360ec;
  --schedule-color-blue-dark: #4151ca;
  --schedule-color-gray-light: #dbdbdb;
  --schedule-color-gray-dark: #666666;
  --schedule-color-blue-text: #FFFFFF;
  --schedule-title-color: #FFFFFF;
  --schedule-border-color: #dbdbdb;
  --schedule-color-white: #FFFFFF;
  --schedule-color-black: #000000;

  /*內頁*/
  /*賽事標題*/
  --match-title-bg: #ffffff;
  --match-title-text-primary: #ffffff;
  --match-title-text-secondary: #daddf8;

  /*頁籤*/
  --tabs-bg: #fdf5c3;
  --tabs-hover: #ffdd00;
  --tabs-divider-1: #cfc37d;
  --tabs-divider-2: #fff;
  --tabs-font-color: #000;
  --tabs-content-bg: #edf0f5;

  /*賠率數據*/
  --odds-data-border: #ccc;
  --odds-data-header-bg: #4360ec;
  --odds-data-col1-color: #000;
  --odds-data-col1-bg: #FFF;
  --odds-data-bg: #f0f6ff;
  --odds-data-bg-alt: #fff9e6;
  --odds-data-red: #d93025;
  --odds-data-type-bg: #324abc;
  --odds-dropdown-bg: #324abc;
  --odds-dropdown-divider: #4866d1;
  --odds-dropdown-hover: #4058c0;
  --odds-data-scrollbar-bg: #FFFFFF;//滾動條軌道背景
  --odds-data-scrollbar-thumb-bg: #888888;//滾動條滑塊背景
  --odds-data-scrollbar-thumb-hover-bg: #555555;//滾動條滑塊懸停背景
  //賠率內頁更多
  --odds-info-border: #dbdbdb;
  --odds-info-header-bg: #4360ec;
  --odds-info-header-color: #fff;
  --odds-info-header-color-hover: #FFDD00;
  --odds-info-bg-blue: #edf0fe;
  --odds-info-bg-yellow: #fefcf0;
  --odds-info-bg-green: #dafed3;
  --odds-info-text-color: #000;
  --odds-info-red: #d93025;
  --odds-info-annotation-bg: #fff;
  --odds-info-annotation-text: #bbbbbb;
  --odds-info-scrollbar-bg: #FFFFFF;
  --odds-info-scrollbar-thumb-bg: #888888;
  --odds-info-scrollbar-thumb-hover-bg: #555555;
  --odds-info-wrapper-bg:#FFFFFF;
  --odds-info-wrapper-text-color: #000;
  --odds-info-btn-color:#4058c0;
  --odds-info-table-th-bg:#eeeeee;
  --odds-info-table-color:#000000;

  /*直播影片*/
  --videos-wrap-bg: #ffffff;
  --videos-title-color: #ffffff;
  --videos-header-bg: #4360ec;
  --videos-btn-bg: #324abc;
  --videos-btn-border: #5c77fc;
  --videos-btn-hover-bg: #ffdd00;
  --videos-btn-hover-border: #fcee92;

  /*聊天室*/
  --chat-room-wrap-bg: #ffffff;
  --chat-room-header-bg: #4360ec;
  --chat-room-input-bg: #eeeeee;
  --chat-room-scroll-track: #ffffff;
  --chat-room-scroll-thumb: #bbbbbb;
  --chat-room-scroll-thumb-hover: #999999;
  --chat-room-message-bg: #f2f2f2;
  --chat-room-message-user: #555555;
  --chat-room-message-text: #333333;
  --chat-room-message-time: #888888;
  --chat-room-border: #dbdbdb;

  /*文字直播*/
  --live-text-wrap-bg: #fff;
  --live-text-header-bg: #4360ec;
  --live-text-team-bg: #fefcf0;
  --live-text-title: #fff;
  --live-text-team-name: #000;
  --live-text-border: #dbdbdb;
  --live-text-icon-left: #4360ec;
  --live-text-icon-right: #ffdd00;
  --live-text-circle-bg: #e1e6ea;
  --live-text-time-left-border: #4360ec;
  --live-text-time-right-border: #d7bb02;
  --live-text-msg-bg: #fff;
  --live-text-msg-color: #000;
  --live-text-scrollbar-color: #999;
  --live-text-scroll-track: #FFF;
  --live-text-scroll-thumb: #999999;
  --live-text-scroll-thumb-hover: #666666;

  /*數據分析*/
  --data-analysis-wrap-bg: #fff;
  --data-analysis-header-bg: #4360ec;
  --data-analysis-header-color: #fff;
  --data-analysis-team-left-bg: #4360ec;
  --data-analysis-team-right-bg: #ffdd00;
  --data-analysis-team-name-color: #000;
  --data-analysis-label-color: #000;
  --data-analysis-number-color: #000;
  --data-analysis-num-left-highlight-color: #fff;
  --data-analysis-num-right-highlight-color: #000;
  --data-analysis-team-row-bg: #fefcf0;
  --data-analysis-border-color: #dbdbdb;
  --data-analysis-num-left-bg: #4360ec;
  --data-analysis-num-right-bg: #ffdd00;

  /*陣容*/
  --jersey-wrap-bg: #fff;
  --jersey-header-bg: #4360ec;
  --jersey-header-text: #fff;
  --jersey-team-row-bg: #fefcf0;
  --jersey-team-border: #dbdbdb;
  --jersey-section-bg: #edf0fe;
  --jersey-section-border: #dbdbdb;
  --jersey-icon-left-bg: #4360ec;
  --jersey-icon-right-bg: #ffdd00;
  --jersey-player-text: #000;
  --jersey-icon-text: #fff;

  /*彈出視窗*/
  --side-panel-bg-color: #fff;             // 面板背景
  --side-panel-shadow: rgba(0, 0, 0, 0.2); // 面板陰影
  --side-panel-header-bg-color: #4360ec;   // 面板標題背景
  --side-panel-header-text-color: #fff;    // 標題文字顏色
  --form-item-border-color: #ccc;          // 每列邊界
  --form-item-hover-color: #f5a623;
  --side-panel-icon-bg-color: #4360ec;     // icon背景色
  --side-panel-icon-text-color: #fff;      // icon文字顏色

  /*隊伍+直播 手機板*/
  --title-events-mobile-bg: url('../image/title_events_bg_m.jpg');
  --title-events-mobile-icon: url('../image/star_icon_dark.png');
  --title-events-mobile-live-icon: url('../image/live_icon.png');
  --title-events-mobile-anime-icon: url('../image/Anime_icon.png');
  --title-events-mobile-live-bg: url('../image/live_videos.jpg');
  --title-events-mobile-anime-bg: url('../image/anime_videos.jpg');
  --title-events-mobile-text:#FFF;
  --title-events-mobile-btn-bg: #121c61;
  --title-events-mobile-btn-border: #5c77fc;
  --title-events-mobile-btn-text: #fff;
}

:root.dark {
  /* 背景與文字 */
  --body-bg: #0b090c;
  --box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  --text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
  --header-bg: #111111;
  --text-color: #ffffff;
  --cpyright-text-color: #313131;

  /*nav*/
  --nav-hover-color: #4360ec;

  /*語系和設定按鈕*/
  --lang-btn-img: url('../image/lang_btn_dark.png');
  --settings-btn-img: url('../image/settings_btn_dark.png');

  /*語系和下拉*/
  --lang-settings-ups-bg: #363636;
  --lang-settings-text-color: #fff;
  --lang-settings-item-hover: rgba(255, 255, 255, 0.15);

  /* 搜尋框 */
  --search-bg: #0a0809;
  --search-border: #292929;
  --search-radius: 14px;
  --search-icon-size: 20px;
  --search-text-color: #c0bebf;
  --search-font-size: 16px;
  --search-icon-img: url('../image/search_icon_dark.png');


  /* 收合表單 */
  --form-header-bg: #1f1f1f;
  --form-header-text: #ffffff;
  --form-body-bg: #111111;
  --form-border-color: #000000;
  --form-item-text: #FFFFFF;
  --form-item-text-hover: #4151ca;
  --icon-arrow-color: #ffffff;


  /* 足球賽事 */
  --football-color-title: #ffffff;
  --football-color-white: #ffffff;
  --football-color-blue-dark: #2d42a3;
  --football-color-blue-main: #4360ec;
  --football-color-blue-light: #5171f4;
  --football-color-yellow-main: #ffdd00;
  --football-color-yellow-light: #111111;
  --football-color-line-gold: #cfc37d;
  --football-color-line-white: #ffffff;
  --football-color-league-bg: #1f1f1f;
  --football-color-dropdown-hover: #ffffff;
  --football-color-odds-bg: #f8f8f8;
  --football-color-odds-border: #ddd;
  --football-color-odds-box: #dbdbdb;
  --football-color-odds-title: #ffffff;

  --football-border-blue: 1px solid #4360ec;
  --football-border-black: 1px solid #292929;
  --football-border-odds: 1px solid #5171f4;
  --football-border-tab: 1px solid #070707;
  --football-border-odds-content: 1px solid #ddd;
  --football-border-odds-toggle-off: 1px solid #222222;
  --football-border-odds-toggle-on: 1px solid #5171f4;

  --football-date-icon: url('../image/date_icon_dark.png');
  --football-date-text-color: #cccccc;

  --football-leaguefootball-league: 1px solid #111111;
  --football-color-black: #FFFFFF;
  --football-color-white: #111111;
  --football-color-blue-main: #4360ec;
  --football-color-yellow-main: #4360ec;
  --football-color-odds-box: #1f1f1f;
  --football-star-img: url("../image/star_icon_dark.png");

  /* 热门现场比赛 */
  --live-box-bg: #111111;
  --live-box-title-color: #ffffff;
  --live-box-subtitle-color: #a6a6a6;
  --live-box-score-bg: #1e1e1e;
  --live-box-score-text: #ffffff;
  --live-box-button-red: #111111;
  --live-box-button-blue: #222222;
  --live-box-button-border: 1px solid #292929;
  --live-box-button-grey: #dbdbdb;
  --live-star-bg: #111111;
  --live-star-border: 1px solid #292929;
  --live-star-img: url("../image/star_icon_dark.png");
  --live-odds-color: #1e1e1e;
  --live-video-border: 1px solid #c91a2a;
  --live-video-img: url('../image/video_icon.png');

  /*賽程*/
  --schedule-color-blue: #1f1f1f;
  --schedule-color-blue-dark: #4151ca;
  --schedule-color-gray-light: #1e1e1e;
  --schedule-color-gray-dark: #666666;
  --schedule-color-blue-text: #FFFFFF;
  --schedule-title-color: #FFFFFF;
  --schedule-border-color: #000000;
  --schedule-color-white: #111111;
  --schedule-color-black: #FFFFFF;

  /*內頁*/
  /*賽事標題*/
  --match-title-bg: #ffffff;
  --match-title-text-primary: #ffffff;
  --match-title-text-secondary: #daddf8;

  /*頁籤*/
  --tabs-bg: #111111;
  --tabs-hover: #4360ec;
  --tabs-divider-1: #070707;
  --tabs-divider-2: #181818;
  --tabs-font-color: #ffffff;
  --tabs-content-bg: #0b090c;

  /*賠率數據*/
  --odds-data-border: #000000;
  --odds-data-header-bg: #1f1f1f;
  --odds-data-col1-bg: #161616;
  --odds-data-col1-color: #FFF;
  --odds-data-bg: #c2c4d0;
  --odds-data-bg-alt: #d0cec4;
  --odds-data-red: #d93025;
  --odds-data-type-bg: #0a0809;
  --odds-dropdown-bg: #0a0809;
  --odds-dropdown-divider: #1f1f1f;
  --odds-dropdown-hover: #4058c0;
  --odds-data-scrollbar-bg: #161616;//滾動條軌道背景
  --odds-data-scrollbar-thumb-bg: #888888;//滾動條滑塊背景
  --odds-data-scrollbar-thumb-hover-bg: #555555;//滾動條滑塊懸停背景
  //賠率內頁更多
  --odds-info-border: #000000;
  --odds-info-header-bg: #1f1f1f;
  --odds-info-header-color: #fff;
  --odds-info-bg-blue: #c2c4d0;
  --odds-info-bg-yellow: #d0cec4;
  --odds-info-bg-green: #b3d0ad;
  --odds-info-text-color: #000;
  --odds-info-red: #d93025;
  --odds-info-annotation-bg: #161616;
  --odds-info-annotation-text: #bbbbbb;
  --odds-info-scrollbar-bg: #161616;
  --odds-info-scrollbar-thumb-bg: #888888;
  --odds-info-scrollbar-thumb-hover-bg: #555555;
  --odds-info-wrapper-bg:#1f1f1f;
  --odds-info-wrapper-text-color: #FFF;
  --odds-info-btn-color:#4058c0;
  --odds-info-table-th-bg:#eeeeee;
  --odds-info-table-color:#000000;

  /*直播影片*/
  --videos-wrap-bg: #000;
  --videos-title-color: #ffffff;
  --videos-header-bg: #1f1f1f;
  --videos-btn-bg: #0a0809;
  --videos-btn-border: #2e2e2e;
  --videos-btn-hover-bg: #ffdd00;
  --videos-btn-hover-border: #fcee92;

  /*聊天室*/
  --chat-room-wrap-bg: #111111;
  --chat-room-header-bg: #1f1f1f;
  --chat-room-input-bg: #333333;
  --chat-room-scroll-track: #111111;
  --chat-room-scroll-thumb: #666666;
  --chat-room-scroll-thumb-hover: #888888;
  --chat-room-message-bg: #2f2f2f;
  --chat-room-message-user: #aaaaaa;
  --chat-room-message-text: #dddddd;
  --chat-room-message-time: #777777;
  --chat-room-border: #181818;

  /*文字直播*/
  --live-text-wrap-bg: #111111;
  --live-text-header-bg: #1f1f1f;
  --live-text-team-bg: #333333;
  --live-text-title: #fff;
  --live-text-team-name: #FFF;
  --live-text-border: #070707;
  --live-text-icon-left: #4360ec;
  --live-text-icon-right: #ffdd00;
  --live-text-circle-bg: #e1e6ea;
  --live-text-time-left-border: #4360ec;
  --live-text-time-right-border: #d7bb02;
  --live-text-msg-bg: #333333;
  --live-text-msg-color: #FFF;
  --live-text-scrollbar-color: #999;
  --live-text-scroll-track: #111111;
  --live-text-scroll-thumb: #777777;
  --live-text-scroll-thumb-hover: #888888;

  /*數據分析*/
  --data-analysis-wrap-bg: #111111;
  --data-analysis-header-bg: #1f1f1f;
  --data-analysis-header-color: #fff;
  --data-analysis-team-left-bg: #4360ec;
  --data-analysis-team-right-bg: #ffdd00;
  --data-analysis-team-name-color: #FFF;
  --data-analysis-label-color: #FFF;
  --data-analysis-number-color: #FFF;
  --data-analysis-num-left-highlight-color: #fff;
  --data-analysis-num-right-highlight-color: #000;
  --data-analysis-team-row-bg: #333333;
  --data-analysis-border-color: #070707;
  --data-analysis-num-left-bg: #4360ec;
  --data-analysis-num-right-bg: #ffdd00;

  /*陣容*/
  --jersey-wrap-bg: #111111;
  --jersey-header-bg: #1f1f1f;
  --jersey-header-text: #fff;
  --jersey-team-row-bg: #333333;
  --jersey-team-border: #070707;
  --jersey-section-bg: #1f1f1f;
  --jersey-section-border: #070707;
  --jersey-icon-left-bg: #4360ec;
  --jersey-icon-right-bg: #ffdd00;
  --jersey-player-text: #FFF;
  --jersey-icon-text: #fff;

    /*彈出視窗*/
  --side-panel-bg-color: #fff;             // 面板背景
  --side-panel-shadow: rgba(0, 0, 0, 0.2); // 面板陰影
  --side-panel-header-bg-color: #4360ec;   // 面板標題背景
  --side-panel-header-text-color: #fff;    // 標題文字顏色
  --form-item-border-color: #ccc;          // 每列邊界
  --form-item-hover-color: #f5a623;
  --side-panel-icon-bg-color: #4360ec;     // icon背景色
  --side-panel-icon-text-color: #fff;      // icon文字顏色

  /*隊伍+直播 手機板*/
  --title-events-mobile-bg: url('../image/title_events_bg_m.jpg');
  --title-events-mobile-icon: url('../image/star_icon_dark.png');
  --title-events-mobile-live-icon: url('../image/live_icon.png');
  --title-events-mobile-anime-icon: url('../image/Anime_icon.png');
  --title-events-mobile-live-bg: url('../image/live_videos.jpg');
  --title-events-mobile-anime-bg: url('../image/anime_videos.jpg');
  --title-events-mobile-text:#FFF;
  --title-events-mobile-btn-bg: #121c61;
  --title-events-mobile-btn-border: #5c77fc;
  --title-events-mobile-btn-text: #fff;
}